## Data Cleaning and Preprocessing

In [1]:
import config

### Loading and Inspecting the Dataset

In [2]:
df = config.main()[0]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164607 entries, 0 to 164606
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     164607 non-null  int64
 1   Authors                        164534 non-null  object
 2   Author full names              164534 non-null  object
 3   Author(s) ID                   164534 non-null  object
 4   Title                          164607 non-null  object
 5   Year                           164607 non-null  int64
 6   Source title                   164607 non-null  object
 7   Cited by                       164607 non-null  int64
 8   Link                           164607 non-null  object
 9   Affiliations                   164214 non-null  object
 10  Authors with affiliations      164214 non-null  object
 11  Author Keywords                133883 non-null  object
 12  Correspondence Address         51022 non-null   object
 13  Language of Original Document  164607 non-null  object
 14  Abbreviated Source Title       164598 non-null  object
 15  Document Type                  164607 non-null  object
 16  Open Access                    28020 non-null   object
 17  Source                         164607 non-null  object
dtypes: int64(3), object(15)
memory usage: 22.6+ MB

In [3]:
df.isna().sum()

Unnamed: 0                            0
Authors                              73
Author full names                    73
Author(s) ID                         73
Title                                 0
Year                                  0
Source title                          0
Cited by                              0
Link                                  0
Affiliations                        393
Authors with affiliations           393
Author Keywords                   30724
Correspondence Address           113585
Language of Original Document         0
Abbreviated Source Title              9
Document Type                         0
Open Access                      136587
Source                                0
dtype: int64

In [4]:
df.head()

,Unnamed: 0,Authors,Author full names,Author(s) ID,Title,Year,Source title,Cited by,Link,Affiliations,Authors with affiliations,Author Keywords,Correspondence Address,Language of Original Document,Abbreviated Source Title,Document Type,Open Access,Source
0,0,Goyal R.; Spognardi A.; Dragoni N.; Argyriou M.,"Goyal, Rohit (57189905591); Spognardi, Angelo ...",57189905591; 8556724500; 8308455900; 57193158613,SafeDroid: A distributed malware detection ser...,2016,Proceedings - 2016 IEEE 9th International Conf...,24,https://www.scopus.com/inward/record.uri?eid=2...,"DTU Compute, Technical University of Denmark, ...","Goyal R., DTU Compute, Technical University of...",NaN,NaN,English,Proc. - IEEE Int. Conf. Serv.-Oriented Comput....,Conference paper,All Open Access; Green Open Access,Scopus
1,1,Giri A.; Bhagavath M.V.V.; Pruthvi B.; Dubey N.,"Giri, Animesh (57193057558); Bhagavath, M Vign...",57193057558; 57193130687; 57193134821; 5719313...,A Placement Prediction System using k-nearest ...,2016,Proceedings - 2016 2nd International Conferenc...,29,https://www.scopus.com/inward/record.uri?eid=2...,Department of Information Science and Engineer...,"Giri A., Department of Information Science and...",K-Nearest Neighbors; Logistic Regression; Pred...,NaN,English,Proc. - Int. Conf. Cogn. Comput. Inf. Process....,Conference paper,NaN,Scopus
2,2,Shimizu R.; Yanagawa S.; Monde Y.; Yamagishi H...,"Shimizu, Ryota (57193057206); Yanagawa, Shusuk...",57193057206; 7005437999; 57193061654; 57193061...,Deep learning application trial to lung cancer...,2016,ISOCC 2016 - International SoC Design Conferen...,19,https://www.scopus.com/inward/record.uri?eid=2...,"Faculty of Science and Technology, Keio Univer...","Shimizu R., Faculty of Science and Technology,...",Deep learning; Deep neural network; Gas chroma...,NaN,English,ISOCC - Int. SoC Des. Conf.: Smart SoC Intell....,Conference paper,NaN,Scopus
3,3,Hosein P.; Boodhoo S.,"Hosein, Patrick (6602800746); Boodhoo, Steffan...",6602800746; 57193154394,Event scheduling with soft constraints and on-...,2016,2016 IEEE International Conference on Knowledg...,3,https://www.scopus.com/inward/record.uri?eid=2...,"Department of Computer Science, University of ...","Hosein P., Department of Computer Science, Uni...",Decision Support System; Electronic Calendar; ...,NaN,English,"IEEE Int. Conf. Knowl. Eng. Appl., ICKEA",Conference paper,NaN,Scopus
4,4,Li Z.; Au C.W.; Kakiuchi Y.; Okada K.; Inaba M.,"Li, Zijia (57193030089); Au, Chi Wun (57188843...",57193030089; 57188843180; 36801518100; 7404191...,What am i doing? Robotic self-action recognition,2016,IEEE-RAS International Conference on Humanoid ...,2,https://www.scopus.com/inward/record.uri?eid=2...,Graduate School of Information Science and Tec...,"Li Z., Graduate School of Information Science ...",NaN,NaN,English,IEEE-RAS Int. Conf. Humanoid Rob.,Conference paper,NaN,Scopus

### Handling Missing Data

In [5]:
print(df.shape)
df = config.clean.clean_missing_values(df)
print(df.shape)

(164607, 18)
(164607, 17)

In [6]:
df.columns

Index(['Unnamed: 0', 'Authors', 'Author full names', 'Author(s) ID', 'Title',
       'Year', 'Source title', 'Cited by', 'Link', 'Affiliations',
       'Authors with affiliations', 'Author Keywords',
       'Correspondence Address', 'Language of Original Document',
       'Abbreviated Source Title', 'Document Type', 'Source'],
      dtype='object')

In [7]:
df.isna().sum()

Unnamed: 0                            0
Authors                              73
Author full names                    73
Author(s) ID                         73
Title                                 0
Year                                  0
Source title                          0
Cited by                              0
Link                                  0
Affiliations                        393
Authors with affiliations           393
Author Keywords                   30724
Correspondence Address           113585
Language of Original Document         0
Abbreviated Source Title              9
Document Type                         0
Source                                0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164607 entries, 0 to 164606
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     164607 non-null  int64
 1   Authors                        164534 non-null  object
 2   Author full names              164534 non-null  object
 3   Author(s) ID                   164534 non-null  object
 4   Title                          164607 non-null  object
 5   Year                           164607 non-null  int64
 6   Source title                   164607 non-null  object
 7   Cited by                       164607 non-null  int64
 8   Link                           164607 non-null  object
 9   Affiliations                   164214 non-null  object
 10  Authors with affiliations      164214 non-null  object
 11  Author Keywords                133883 non-null  object
 12  Correspondence Address         51022 non-null   object
 13  Language of Original Document  164607 non-null  object
 14  Abbreviated Source Title       164598 non-null  object
 15  Document Type                  164607 non-null  object
 16  Source                         164607 non-null  object
dtypes: int64(3), object(14)
memory usage: 21.3+ MB

### Drop columns

In [9]:
df = config.clean.clean_drop(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164607 entries, 0 to 164606
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     164607 non-null  int64
 1   Authors                        164534 non-null  object
 2   Author full names              164534 non-null  object
 3   Author(s) ID                   164534 non-null  object
 4   Title                          164607 non-null  object
 5   Year                           164607 non-null  int64
 6   Source title                   164607 non-null  object
 7   Cited by                       164607 non-null  int64
 8   Affiliations                   164214 non-null  object
 9   Authors with affiliations      164214 non-null  object
 10  Author Keywords                133883 non-null  object
 11  Correspondence Address         51022 non-null   object
 12  Language of Original Document  164607 non-null  object
 13  Abbreviated Source Title       164598 non-null  object
dtypes: int64(3), object(11)
memory usage: 17.6+ MB

### Type Conversions

In [10]:
df = config.clean.types_conversion(df)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164607 entries, 0 to 164606
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     164607 non-null  int64
 1   Authors                        164534 non-null  object
 2   Author full names              164534 non-null  object
 3   Author(s) ID                   164534 non-null  object
 4   Title                          164607 non-null  object
 5   Year                           164607 non-null  int64
 6   Source title                   164607 non-null  object
 7   Cited by                       164607 non-null  int64
 8   Affiliations                   164214 non-null  object
 9   Authors with affiliations      164214 non-null  object
 10  Author Keywords                133883 non-null  object
 11  Correspondence Address         51022 non-null   object
 12  Language of Original Document  164607 non-null  object
 13  Abbreviated Source Title       164598 non-null  object
dtypes: int64(3), object(11)
memory usage: 17.6+ MB

### Extracting and Cleaning Data Using Regex

In [12]:
df, country_list, authors = config.clean.reformat_values(df)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164607 entries, 0 to 164606
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     164607 non-null  int64
 1   Authors                        164534 non-null  object
 2   Author full names              164534 non-null  object
 3   Author(s) ID                   164534 non-null  object
 4   Title                          164607 non-null  object
 5   Year                           164607 non-null  int64
 6   Source title                   164607 non-null  object
 7   Cited by                       164607 non-null  int64
 8   Affiliations                   164214 non-null  object
 9   Authors with affiliations      164214 non-null  object
 10  Author Keywords                133883 non-null  object
 11  Correspondence Address         51022 non-null   object
 12  Language of Original Document  164607 non-null  object
 13  Abbreviated Source Title       164598 non-null  object
 14  Countries                      164607 non-null  object
dtypes: int64(3), object(12)
memory usage: 18.8+ MB

In [14]:
df["Countries"].head()

0                  Denmark, Denmark, Sweden, Denmark
1                         India, India, India, India
2    Japan, Japan, Japan, Japan, Japan, Japan, Japan
3           Trinidad and Tobago, Trinidad and Tobago
4                  Japan, Japan, Japan, Japan, Japan
Name: Countries, dtype: object

In [15]:
authors.head()

     Author ID          Author name
0  57189905591        Goyal, Rohit
1   8556724500   Spognardi, Angelo
2   8308455900     Dragoni, Nicola
3  57193158613    Argyriou, Marios
4  57193057558       Giri, Animesh