## EDA and Data Aggregations

In [15]:
import config
import pandas as pd

In [ ]:
df  = config.main()[1]
valid_countries = config.clean.valid_countries 
authors = config.clean.authors

<class 'pandas.core.frame.DataFrame'>

In [18]:
c = [len(valid_countries),
     df.loc[:,"Language of Original Document"].unique().shape[0],
     authors.shape[0],
     round(df["Cited by"].sum()/authors.shape[0],2)
    ]
summary_df = pd.DataFrame( c, index=["Total number of countries", "Number of languages", "Total number of authors", "Average citations per document"])
summary_df

                                        0
Total number of countries          105.00
Number of languages                 10.00
Total number of authors         532492.00
Average citations per document       4.49

In [19]:
df["Language of Original Document"].value_counts()

Language of Original Document
English        163489
Turkish           771
Spanish           157
Portuguese        152
French             24
Russian             7
Chinese             3
Arabic              2
Azerbaijani         1
German              1
Name: count, dtype: int64

In [24]:
countries = df['Countries'].str.split(', ').explode().value_counts()
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)

countries

Countries
China                     159031
United States              97402
India                      94773
Germany                    17543
United Kingdom             17315
Japan                      16808
South Korea                12518
Canada                     11782
Italy                      11032
Unknown                    10066
France                     10015
Indonesia                   9288
Australia                   9193
Taiwan                      8901
Bangladesh                  8440
Brazil                      8029
Singapore                   6322
Turkey                      5535
Spain                       5263
Malaysia                    5024
Greece                      4606
Hong Kong                   4594
Russian Federation          4497
Switzerland                 4205
Romania                     3897
Pakistan                    3858
Netherlands                 3665
Philippines                 3403
Viet Nam                    3361
Thailand                    3192
Sri Lanka                   2795
Sweden                      2730
Morocco                     2644
Egypt                       2621
United Arab Emirates        2602
Portugal                    2509
Saudi Arabia                2433
Austria                     2319
Finland                     2233
Iran                        2218
Ireland                     2119
Israel                      1938
Poland                      1822
Iraq                        1722
Belgium                     1713
Norway                      1610
South Africa                1564
Tunisia                     1468
Mexico                      1464
Ukraine                     1421
New Zealand                 1285
Denmark                     1273
Algeria                     1248
Czech Republic              1145
Jordan                      1058
Colombia                     813
Nigeria                      778
Ecuador                      753
Peru                         687
Hungary                      677
Chile                        647
Qatar                        643
Bulgaria                     637
Macao                        624
Kazakhstan                   548
Luxembourg                   534
Slovakia                     485
Slovenia                     448
Cyprus                       440
Lebanon                      422
Serbia                       365
Croatia                      293
Estonia                      289
Oman                         285
Uzbekistan                   275
Bahrain                      255
Argentina                    240
Ethiopia                     217
Myanmar                      196
Kenya                        177
Yemen                        175
North Macedonia              172
Palestine                    163
Latvia                       154
Malta                        149
Nepal                        144
Uganda                       135
Senegal                      132
Sudan                        129
Lithuania                    128
Mauritius                    126
Kuwait                       113
Costa Rica                   104
Bosnia and Herzegovina        96
Uruguay                       92
Ghana                         89
Trinidad and Tobago           82
Brunei Darussalam             81
Fiji                          81
Iceland                       81
Rwanda                        80
Azerbaijan                    70
Libya                         67
Tanzania                      66
Namibia                       65
Name: count, dtype: int64